{% extends "eats/view/base.html" %}

{% block eats_title %}{{ block.super }}
Search entities
{% endblock eats_title %}

{% block eats_style %}{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}eats/css/screen/search.css"
      type="text/css" media="screen"/>
{% endblock eats_style %}

{% block eats_content %}
<h1>Search entities</h1>

<form method="get" action="{% url 'search' %}">
  <table>
    <tbody>
      {{ eats_full_search_form }}
      <tr>
	<td></td>
	<td><input type="submit" value="Search"/></td>
      </tr>
    </tbody>
  </table>
</form>

{% if eats_search_results %}
<h2>Search results</h2>

{% include "eats/view/search_results.html" %}

{% else %}
{% if eats_full_search_form.is_bound %}
<h2>No results</h2>
{% endif %}
{% endif %}
{% endblock eats_content %}
